body {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: beige;
    margin: 0px;
}

header {
    margin: auto;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    background-color: #003973; 
    justify-content: space-around;
    align-items: center; 
}

a {
    color: white;
}

#logo {
    cursor: pointer;
}

#logo img {
    width: 100px;
    height: 100px;
    
}

#navBar {
    display: flex;
    width: 500px;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    margin-left: 125px;
    margin-bottom: auto;
    padding: auto;
}

#navBar p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    width: fit-content;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

#navBar p:hover {
    text-decoration: underline;
    cursor: pointer;
    color: black;
    background-color: #FFF97A;
}

#navBar a {
    color: white;
    text-decoration: none;
}

#productButton {
    width: 200px;
}

#productMenu {
    display: none;
    list-style: none;
    position: absolute;
    top: 85px;
    margin-right: 75px;
    z-index: 1;
}

#productMenu li {
    padding: 20px;
    background-color: #003973;
    text-align: center;
    width: 136px;
}

#productMenu li:hover {
    cursor: pointer;
    background-color: #FFF97A;
    color: black;
    text-decoration: underline;
}


#iconNavBar {
    display: flex;
    flex-direction: row;
    align-items: center;
}


svg {
    width: fit-content;
    height: 40px;
    padding: 10px;
}

svg:last-child {
    margin-left: 20px;
}

svg:hover {
    cursor: pointer;
    color: black;
    background-color: #FFF97A;
    border-radius: 40px;
}

#lang {
    display: none;
    position: absolute;
    top: 85px;
    margin-left: 60px;
}

#lang li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 100px;
    background-color: #003973;
}

#lang li:hover {
    cursor: pointer;
    background-color: #FFF97A;
    color: black;
}


#idiomaLogo {
    width: 40px;
    height: 40px;
}

#carousel {
    width: 30%;
    margin: 20px auto 20px auto;
    border-radius: 24px;
    overflow: hidden;
    border: 2px solid black;
}

#carousel:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(114, 114, 114);
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slide img {
    width: 250px;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.slide p {
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    width: 220px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

#informationSection {
    color: black;
    padding: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#styleShoppingCart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    color: black;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 20px 40px 40px 40px;
    border: 2px solid black;
}

#styleShoppingCart #buy {
    background-color: #003973;
    color: white;
    font-size: 18px;
    border-radius: 18px;
    width: 400px;
    height: 40px;
}

#styleShoppingCart #buy:hover {
    cursor: pointer;
    background-color: #FFF97A;
    color: black;
}

#userSection {
    background-color: white;
    padding: 40px 40px 20px 40px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 24px;
    margin-bottom: 40px;
}

#userOptions {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

#userOptions button {
    flex: 1;
    max-width: 200px;
    padding: 15px;
    font-size: 20px;
    background-color: white;
    color: black;
    border: 2px solid black;
    cursor: pointer;
}

#userOptions button:first-child {
    border-right: 1px solid black;
}

#userOptions button:last-child {
    border-left: 1px solid black;
}

#userOptions button.active {
    background-color: #003973;
    color: white;
}

#userOptions button:hover {
    background-color: #FFF97A;
    color: black;
}

#formRegister, #formLogin {
    color: black;
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 18px;
    background-color: white;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

#formRegister[hidden], #formLogin[hidden] {
    display: none;
}

#formRegister h3, #formLogin h3 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 20px;
}

#formRegister label, #formLogin label{
    font-weight: bold;
    margin-top: 20px;

}

#formRegister input, #formLogin input {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#formRegister button, #formLogin button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #003973;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    align-self: flex-end;
    border: 1px solid black;
}

#formRegister button:hover, #formLogin button:hover{
    background-color: #FFF97A;
    color: black
}

.invalido {
    color: red;
    font-weight: bold;
}

.valido {
    color: green;
    font-weight: bold;
}

footer {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: #003973;
    padding: 20px;
}

footer section {
    display: flex;
    justify-content: space-around;
}

footer p {
    text-align: center;
}

footer span {
    font-weight: bold;
}