body {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: beige;
    margin: 0px;
}

header {
    margin: auto;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    background-color: #003973; 
    justify-content: space-around;
    align-items: center; 
}

#logo {
    cursor: pointer;
}

#logo img {
    width: 100px;
    height: 100px;
    
}

#navBar {
    display: flex;
    width: 500px;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    margin-left: 125px;
    margin-bottom: auto;
    padding: auto;
}

#navBar p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    width: fit-content;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

#navBar p:hover {
    text-decoration: underline;
    cursor: pointer;
    color: black;
    background-color: #FFF97A;
}

#iconNavBar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

svg {
    width: fit-content;
    height: 40px;
    padding: 10px;
}

svg:last-child {
    margin-left: 20px;
}

svg:hover {
    cursor: pointer;
    color: black;
    background-color: #FFF97A;
    border-radius: 40px;
}

#lang {
    display: flex;
    flex-direction: row;
    width: 80px;
    height: fit-content;
    align-items: center;
    justify-content: space-around;
    margin-left: 5px;
    padding: 10px;

}
#lang:hover {
    cursor: pointer;
    background-color: #FFF97A;
    border-radius: 25px;
}

#idiomaLogo {
    width: 40px;
    height: 40px;
}

#lang p {
    margin-top: auto;
    margin-bottom: auto;
}

#carousel {
    width: 95%;
    margin: 20px auto 20px auto;

    border-radius: 24px;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
}

.slide img {
    width: 100%;
    height: 600px;
    display: block;
}

#informationSection {
    color: black;
    padding: 40px;
    text-align: center;
}

footer {
    font-size: 20px;
    background-color: #003973;
    padding: 20px;
    text-align: center;
}

footer span {
    font-weight: bold;
}