body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
}

img {
    width: 100px;
}

#seccion_cartel {
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
}

#cartel {
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    margin: 0px 10px 0px 10px;
    font-weight: bold;
    flex-direction: column;
    padding: 10px 10px 0px 10px;
    border: 2px solid;
}

#cartel p {
    border: 1px solid;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
}

#puerta-escaparate {
    display: flex;
    flex-direction: row;
}

#seccion_puerta, #seccion_escaparate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#seccion_reloj {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    border: 8px solid black;
    border-radius: 10px;
    background-color: green;
    height: fit-content;
    width: 180px;
    height: 80px;
    display: flex;
    justify-content: center;
    margin: 5px 50px 10px 0px;
}

#seccion_reloj p {
    font-size: 60px;
    margin-top: 5px;
    margin-bottom: 0px;
}

#seccion_semaforo {
    background-color: gray;
    width: auto;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

#seccion_coche {
    background-color: gray;
    padding: 10px;
}

#seccion_coche img {
    margin-right: 50px;
}