body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    height: 90vh;
    font-family: Calibri;
}

#p_pagina_inicial {
    font-weight: bold;
    font-size: 40px;
}

h1 {
    border: 5px solid black;
    background-color: white;
    border-radius: 20px;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}   

#binter {
    color: green;
}

#binter:hover {
    background-color: green;
    color: white;
    cursor: pointer;

}

#iberia {
    color: red;   
}

#iberia:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

#ryanair {
    color: #0B2A78;
}

#ryanair:hover {
    background-color: yellow;
    color: #0B2A78;
    cursor: pointer;
}

#tituloAerolinea {
    font-size: 50px;
    font-weight: bold;
}

#cuadroPrecio {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin-bottom: 100px;
}

#cuadroPrecio p {
    margin: 0px;

}

#cuadroPrecio #p_categoria {
   font-weight: bold; 
}

th {
    height: 50px;
    border-radius: 5px;
}

td {
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: green;
    width: 30px;
    height: 30px;
}

td:hover {
    cursor: pointer;
}

th:nth-child(1) {
    background-color: #f6ae2d;
}

th:nth-child(2) {
    background-color: #2ca02c;
}

th:nth-child(3) {
    background-color: #1f77b4;
}

#botones {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 250px;
}

button {
    cursor: pointer;
}